flow-to-all-episode.json
[
    {
        "id": "69018ac081511c98",
        "type": "inject",
        "z": "0fa431e00e39f474",
        "name": "Trakt listák lekérdezése",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "traktList",
                "v": "sonarr",
                "vt": "str"
            },
            {
                "p": "config",
                "v": "{\"traktList\":\"sonarr-all\",\"traktApiKey\":\"609bc8d1cd7632e26f9d62dc7c617cd115426062baa41926034bb504ab178613\",\"traktUrl\":\"https://api.trakt.tv\",\"traktUser\":\"stullertamas\",\"sonarrApiKey\":\"3defd2386177413db4b13b56f29e5a78\",\"sonarrUrl\":\"http://192.168.1.5:8989\",\"sonnarAddSeriesConfig\":{\"monitored\":true,\"rootFolderPath\":\"/tv\",\"qualityProfileId\":4,\"seasonFolder\":true,\"monitor\":\"missing\",\"addOptions\":{\"ignoreEpisodesWithFiles\":true,\"ignoreEpisodesWithoutFiles\":false,\"searchForMissingEpisodes\":true}}}",
                "vt": "json"
            }
        ],
        "repeat": "30",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 260,
        "wires": [
            [
                "e7982cf6ea40dd69"
            ]
        ]
    },
    {
        "id": "4f03ce0f0977f76c",
        "type": "json",
        "z": "0fa431e00e39f474",
        "name": "Trakt válasz feldolgozása",
        "property": "payload",
        "action": "obj",
        "pretty": true,
        "x": 910,
        "y": 260,
        "wires": [
            [
                "f76d4f5f1eef123f"
            ]
        ]
    },
    {
        "id": "e1c83132fb74dbbb",
        "type": "function",
        "z": "0fa431e00e39f474",
        "name": "Trakt vs Sonarr összehasonlítás",
        "func": "let traktShows = msg.trakt.map(item => item.tvdbId);\nlet sonarrShows = msg.sonarr.map(show => ({\n    title: show.title,\n    tvdbId: show.tvdbId,\n    id: show.id,\n    tags: show.tags\n})).filter(show => show.tvdbId);\n\nlet missingInSonarr = msg.trakt.filter(traktShow =>\n    !sonarrShows.some(sonarr => sonarr.tvdbId === traktShow.tvdbId)\n);\n\nlet traktTag = `trakt/${msg.config.traktList}`;\nlet sonarrWithTag = sonarrShows.filter(show => show.tags.includes(traktTag));\nlet obsoleteTags = sonarrWithTag.filter(show => !traktShows.includes(show.tvdbId));\n\nmsg.missingInSonarr = missingInSonarr;\nmsg.obsoleteTags = obsoleteTags;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1150,
        "y": 340,
        "wires": [
            [
                "0a91f871b7f980dd"
            ]
        ]
    },
    {
        "id": "0a91f871b7f980dd",
        "type": "function",
        "z": "0fa431e00e39f474",
        "name": "Sonarr-hoz hozzáadás",
        "func": "let traktTag = 'trakt/' + msg.config.traktList;\nmsg.payload = msg.missingInSonarr.map(item => {\n    return {\n        ...msg.config.sonnarAddSeriesConfig,\n        ...{ \"title\": item.title, \"tvdbId\": item.tvdbId }\n    };\n});\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1390,
        "y": 340,
        "wires": [
            [
                "82da3fe1ae76b6a7"
            ]
        ]
    },
    {
        "id": "1d695e6ebc8032d0",
        "type": "json",
        "z": "0fa431e00e39f474",
        "name": "Sonarr válasz feldolgozása",
        "property": "payload",
        "action": "obj",
        "pretty": true,
        "x": 650,
        "y": 340,
        "wires": [
            [
                "6773db46a53541cb"
            ]
        ]
    },
    {
        "id": "e7982cf6ea40dd69",
        "type": "function",
        "z": "0fa431e00e39f474",
        "name": "set trakt get list request",
        "func": "msg.method = \"GET\";  // HTTP metódus\nmsg.url = `${msg.config.traktUrl}/users/${msg.config.traktUser}/lists/${msg.config.traktList}/items`;\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"trakt-api-version\": 2,\n    \"trakt-api-key\": msg.config.traktApiKey\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 260,
        "wires": [
            [
                "ca590ca8813f79ba"
            ]
        ]
    },
    {
        "id": "ca590ca8813f79ba",
        "type": "http request",
        "z": "0fa431e00e39f474",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 690,
        "y": 260,
        "wires": [
            [
                "4f03ce0f0977f76c"
            ]
        ]
    },
    {
        "id": "635e83051f71295b",
        "type": "function",
        "z": "0fa431e00e39f474",
        "name": "set trakt get list request",
        "func": "msg.method = \"GET\";  // HTTP metódus\nmsg.url = `${msg.config.sonarrUrl}/api/v3/series?apikey=${msg.config.sonarrApiKey}`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 190,
        "y": 340,
        "wires": [
            [
                "1d3c7d6a3cd234f7"
            ]
        ]
    },
    {
        "id": "1d3c7d6a3cd234f7",
        "type": "http request",
        "z": "0fa431e00e39f474",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 410,
        "y": 340,
        "wires": [
            [
                "1d695e6ebc8032d0"
            ]
        ]
    },
    {
        "id": "f76d4f5f1eef123f",
        "type": "function",
        "z": "0fa431e00e39f474",
        "name": "set msg.trakt",
        "func": "var list = msg.payload\n    .filter(item => item.type === 'show' && item.show.ids.tvdb)\n    .map(item => ({\n        title: item.show.title,\n        tvdbId: item.show.ids.tvdb\n    }));\n\nmsg = {\n    \"config\":msg.config,\n    \"trakt\":list\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1170,
        "y": 260,
        "wires": [
            [
                "635e83051f71295b"
            ]
        ]
    },
    {
        "id": "6773db46a53541cb",
        "type": "function",
        "z": "0fa431e00e39f474",
        "name": "set msg.sonarr",
        "func": "msg = {\n    \"config\":msg.config,\n    \"trakt\":msg.trakt,\n    \"sonarr\":msg.payload\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 340,
        "wires": [
            [
                "e1c83132fb74dbbb"
            ]
        ]
    },
    {
        "id": "f6058a961792b9ae",
        "type": "function",
        "z": "0fa431e00e39f474",
        "name": "set trakt get list request",
        "func": "msg.method = \"POST\";  // HTTP metódus\nmsg.url = `${msg.config.sonarrUrl}/api/v3/series`;\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"X-Api-Key\": msg.config.sonarrApiKey\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 400,
        "wires": [
            [
                "6eba78e49e9b8a5c",
                "909fa64daea4fcdd"
            ]
        ]
    },
    {
        "id": "6eba78e49e9b8a5c",
        "type": "http request",
        "z": "0fa431e00e39f474",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 610,
        "y": 400,
        "wires": [
            [
                "909fa64daea4fcdd"
            ]
        ]
    },
    {
        "id": "82da3fe1ae76b6a7",
        "type": "split",
        "z": "0fa431e00e39f474",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 110,
        "y": 400,
        "wires": [
            [
                "f6058a961792b9ae"
            ]
        ]
    },
    {
        "id": "909fa64daea4fcdd",
        "type": "debug",
        "z": "0fa431e00e39f474",
        "name": "debug 39",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 480,
        "wires": []
    }
]
